{% extends "app/base.html" %}
{% load static %}
{% block title %}Update Address{% endblock %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Update Address</h3>
    <div class="col-sm-8 offset-sm-2">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}
          {{ field }}
          <small class="text-danger">{{ field.errors|striptags }}</small>
        </div>
        {% endfor %}
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary">Update Address</button>
          <a href="{% url 'address' %}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-{{ msg.tags }}" role="alert">
            {{ msg }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}